/* Footer.css */

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /* background-image: url('../../footer.png'); */
  background-position: center;
  background-size: 1332px 357px;
  padding: 0;
  color: white;
  height: 45vh;
  width: 100vw;
  @media (max-width: 768px) {
    height: 30vh;
    width: 100vw;
  }
}

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .footer-content p {
    margin: 0;
    margin-bottom: 0.5rem;
  }